<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC2vxrJgXUTIct6vXCX8y4eStGU5zLM4LY</string>
	<key>GCM_SENDER_ID</key>
	<string>195984084978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.one30am.assignment</string>
	<key>PROJECT_ID</key>
	<string>assignmentfirebase-703db</string>
	<key>STORAGE_BUCKET</key>
	<string>assignmentfirebase-703db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195984084978:ios:0bf2d3f75c959569ed256b</string>
</dict>
</plist>